<ion-header>
  <ion-toolbar>
    <ion-title>
      Hanuman
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div margin>
      <p>Sri Hanuman Chalisa</p>

      <p>Doha</p>
      
      <p>Shri Guru Charan Sarooja-raj Nija manu Mukura Sudhaari
      Baranau Rahubhara Bimala Yasha Jo Dayaka Phala Chari
      Budhee-Heen Thanu Jannikay Sumirow Pavana Kumara
      Bala-Budhee Vidya Dehoo Mohee Harahu Kalesha Vikaara</p>
      
      <p>Chopai</p>
      
      <p>Jai Hanuman gyan gun sagar
      Jai Kapis tihun lok ujagar</p>
      
      <p>Ram doot atulit bal dhama
      Anjaani-putra Pavan sut nama</p>
      
      <p>Mahabir Bikram Bajrangi
      Kumati nivar sumati Ke sangi</p>
      
      <p>Kanchan varan viraj subesa
      Kanan Kundal Kunchit Kesha</p>
      
      <p>Vajra Aur Dhuvaje Viraje
      Kaandhe moonj janehu sajai</p> 
      
      <p>suvan kesri Nandan
      Tej prataap maha jag vandan</p> 
      
      <p>guni ati chaturRam kaj karibe ko aatur</p> 
      
      <p>Prabu charitra sunibe-ko rasiya
      Ram Lakhan Sita man Basiya</p>
      
      <p>Sukshma roop dhari Siyahi dikhava
      Vikat roop dhari lank jarava</p>
      
      <p>Bhima roop dhari asur sanghare
      Ramachandra ke kaj sanvare</p>
      
      <p>Laye Sanjivan Lakhan Jiyaye
      Shri Raghuvir Harashi ur laye</p>
      
      <p>Raghupati Kinhi bahut badai
      Tum mam priye Bharat-hi-sam bhai</p>
      
      <p>Sahas badan tumharo yash gaave
      Asa-kahi Shripati kanth lagaave</p>
      
      <p>Sankadhik Brahmaadi Muneesa
      Narad-Sarad sahit Aheesa</p>
      
      <p>Yam Kuber Digpaal Jahan te
      Kavi kovid kahi sake kahan te</p>
      
      <p>Tum upkar Sugreevahin keenha
      Ram milaye rajpad deenha</p>
      
      <p>Tumharo mantra Vibheeshan maana
      Lankeshwar Bhaye Sub jag jana</p>
      
      <p>Yug sahastra jojan par Bhanu
      Leelyo tahi madhur phal janu</p>
      
      <p>Prabhu mudrika meli mukh mahee
      Jaladhi langhi gaye achraj nahee</p>
      
      <p>Durgaam kaj jagath ke jete
      Sugam anugraha tumhre tete</p>
      
      <p>Ram dwaare tum rakhvare
      Hoat na agya binu paisare</p>
      
      <p>Sub sukh lahae tumhari sar na
      Tum rakshak kahu ko dar naa</p>
      
      <p>Aapan tej samharo aapai
      Teenhon lok hank te kanpai</p>
      
      <p>Bhoot pisaach Nikat nahin aavai
      Mahavir jab naam sunavae</p>
      
      <p>Nase rog harae sab peera
      Japat nirantar Hanumant beera</p>
      
      <p>Sankat se Hanuman chudavae
      Man Karam Vachan dyan jo lavai</p>
      
      <p>Sab par Ram tapasvee raja
      Tin ke kaj sakal Tum saja</p>
      
      <p>Aur manorath jo koi lavai
      Sohi amit jeevan phal pavai</p>
      
      <p>Charon Yug partap tumhara
      Hai persidh jagat ujiyara</p>
      
      <p>Sadhu Sant ke tum Rakhware
      Asur nikandan Ram dulhare</p>
      
      <p>Ashta-sidhi nav nidhi ke dhata
      As-var deen Janki mata</p>
      
      <p>Ram rasayan tumhare pasa
      Sada raho Raghupati ke dasa</p>
      
      <p>Tumhare bhajan Ram ko pavai
      Janam-janam ke dukh bisraavai</p>
      
      <p>Anth-kaal Raghuvir pur jayee
      Jahan janam Hari-Bakht Kahayee</p>
      
      <p>Aur Devta Chit na dharehi
      Hanumanth se hi sarve sukh karehi</p>
      
      <p>Sankat kate-mite sab peera
      Jo sumirai Hanumat Balbeera</p>
      
      <p>Jai Jai Jai Hanuman Gosahin
      Kripa Karahu Gurudev ki nyahin</p>
      
      <p>Jo sat bar path kare kohi
      Chutehi bandhi maha sukh hohi</p>
      
      <p>Jo yah padhe Hanuman Chalisa
      Hoye siddhi sakhi Gaureesa</p>
      
      <p>Tulsidas sada hari chera
      Keejai Nath Hridaye mein dera</p>
      
      <p>Doha</p>
      
      <p>Pavan Tanay Sankat Harana
      Mangala Murati Roop
      Ram Lakhana Sita Sahita
      Hriday Basahu Soor Bhoop</p>     
  </div>
</ion-content>

