 <ion-header>
  <ion-toolbar>
    <ion-title>
      Amritvani
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div margin>
      <p>RAM KRIPAA AVTARAN</p>

      <p>Param-Kripaa Suroop Hai,
      Param-Prabhu Sri Ram,
      Jan Paavan Parmaatmaa, 
      Param-Purush-Sukhdhaam. ...1. </p>
      
      <p>Sukhdaa Hai Shubhaa-Kripaa, 
      Shakti Shaanti Swaroop,
      Hai Gyaan Aanandmayi,  
      Ram-Kripaa Anoop. ...2. </p>
      
      <p>Param-Punya Prateek Hai,  
      Param-Eesh Kaa Naam,
      Taarak-Mantra Shakti-Ghar,  
      Bijaakshar Hai Ram. ...3. </p>
      
      <p>Saadhak-Saadhan Saadhiye,  
      Samajh Sakal Shubh-Saar.
      Vaachak-Vaachya Ek Hai,  
      Nishchit Dhaar Vichaar. ...4.</p>
      
      <p>Mantramaya Hee Maaniye, 
      Isht Dev Bhagwaan,
      Devaalaya Hai Ram Kaa,  
      Ram Shabd Gun Khaan. ...5. </p>
      
      <p>Ram-Naam Aaraadhiye,  
      Bheetar Bhar Ye Bhaav,
      Dev-Dayaa Avtaran Kaa,  
      Dhaar Chaugunaa Chaav. ...6. </p>
      
      <p>Mantra Dhaarnaa Yon Kar,  
      Vidhi Se Le Kar Naam,
      Japiye Nishchaya Achal Se,
      Shakti-Dhaam Sri Ram. ...7. </p>
      
      <p>Yathaa Vriksha Bhee Beej Se, 
      Jal-Raj Ritu-Sanyog,
      Paa Kar, Vikse Kram Se,  
      Tyon Mantra Se Yog. ...8.</p>
      
      <p>Yathaa Shakti Parmaanu Men,
      Vidyut-Kosh Samaan,
      Hai Mantra Tyon Shaktimaya,  
      Aisaa Rakhiye Dhyaan. ...9. </p>
      
      <p>Dhruv Dhaaranaa Dhaar Yeh, 
      Raadhiye Mantra Nidhaan,
      Hari-Kripaa Avtaran Kaa, 
      Poorn Rakhiye Gyaan. ...10.</p>
      
      <p>Aataa Khirdhki Dwaar Se,  
      Pawan Tej Kaa Poor,
      Hai Kripaa Tyon Aa Rahi,  
      Karti Durgun Door. ...11. </p>
      
      <p>Batan Dabaane Se Yathaa,  
      Aati Bijli-Dhaar,
      Naam Jaap Prabhaav Se,  
      Tyon Kripaa-Avtaar. ...12. </p>
      
      <p>Kholte Hee Jal Nal Jyon,  
      Bahtaa Vaari Bahaav,
      Jap Se Kripaa Avtarit Ho,  
      Tathaa Sajag Kar Bhaav. ...13. </p>
      
      <p>Ram Shabd Ko Dhyaaiye, 
      Mantra Taarak Maan,
      Swashakti Sattaa Jag Kare,  
      Upri Chakra Ko Yaan. ...14. </p>
      
      <p>Dasham Dwaar Se Ho Tabhi, 
      Ram-Kripaa Avtaar,
      Gyaan Shakti Aanand Sah, 
      Saam Shakti Sanchaar. ...15. </p>
      
      <p>Dev Dayaa Swashakti Kaa, 
      Sahasra Kamal Men Milaap,
      Ho Satpurush Sanyog Se,
      Sarva Nasht Hon Paap. ...16.</p> 
      
      <p>Namaskar Saptak </p>
      
      <p>Kartaa Hoon Main Vandanaa,  
      Nat Shir Baarambaar,
      Tujhe Dev Parmaatman, 
      Mangal Shiv Shubhkaar. ...1.</p>
      
      <p>Anjali Par Mastak Kiye,  
      Vinaya Bhakti Ke Saath,
      Namaskaar Meraa Tujhe,  
      Hove Jag Ke Naath. ...2.</p>
      
      <p>Dono Kar Ko Jordh Kar,   
      Mastak Ghutne Tek,   
      Tujh Ko Ho Pranaam Mam,   
      Shat-Shat Koti Anek. ...3. </p>
      
      <p>Paap-Haran Mangal-Karan, 
      Charan-Sharan Kaa Dhyaan,
      Dhaar Karoon Pranaam Main,  
      Tujh Ko Shakti Nidhaan. ...4.</p>
      
      <p>Bhakti-Bhaav Shubh-Bhaavnaa, 
      Man Men Bhar Bharpoor,
      Shraddhaa Se Tujh Ko Namoon, 
      Mere Ram Hazoor. ...5. </p>
      
      <p>Jyotirmaya Jagdeesh He,  
      Tejomaya Apaar,
      Param Purush Paawan Param,  
      Tujh Ko Ho Namaskaar. ...6. </p>
      
      <p>Satya Gyaan Aanand Ke,  
      Param Dhaam Sri Ram,
      Pulkit Ho Meraa Tujhe,  
      Hove Bahu Pranaam. ...7. </p>
      
      <p>PRAATAHA PAATH (Morning Prayer)
      Parmaatmaa Sri Ram, Param-Satya Prakaash-Roop,
      Param Gyaanaanandswaroop, Sarvashaktimaan,
      Ekaivaadviteeya Parmeshwar, Param-Purush,
      Dayaalu Devaadhidev Hai, Us Ko Baar-Baar,
      Namaskaar, Namaskaar, Namaskaar, Namaskaar</p>
      
      <p>Amrit Vani </p> 
      
      <p>Pad Paawan Vaani, 
      Ram-Naam Dhun Sudhaa Samaani.
      Paawan-Paath Ram-Gun-Graam,
      Ram-Ram Jap Ram Hee Ram. . ...1. </p> 
      
      <p>Param Satya Param Vigyaan, 
      Jyoti-Swaroop Ram Bhagwaan.
      Parmaanand, Sarvashaktimaan,
      Ram Param Hai Ram Mahaan. ...2. </p>
      
      <p>Amrit Vaani Naam Uchaaran, 
      Ram-Ram Sukhsidhi-Kaaran.
      Amritvaani Amrit Sri Naam,
      Ram-Ram Mud Mangal-Dhaam. ...3. </p>
      
      <p>Amritroop Ram-Gun Gaan, 
      Amrit-Kathan Ram Vyaakhyaan.
      Amrit-Vachan Ram Kee Charchaa,
      Sudhaa Sam Geet Ram Kee Archaa. ....4. </p>
      
      <p>Amrit Manan Ram Kaa Jaap, 
      Ram-Ram Prabhu Ram Alaap.
      Amrit Chintan Ram Kaa Dhyaan,
      Ram Shabd Men Shuchi Samaadhaan. ...5.</p>
      
      <p>Amrit Rasnaa Wahee Kahaave,
      Ram-Ram, Jahaan Naam Suhaave.
      Amrit Karm Naam Kamaaee,
      Ram-Ram Param Sukhdaaee. ....6. </p>
      
      <p>Amrit Ram-Naam Jo Hee Dhyaave, 
      Amrit Pad So Hee Jan Paave.
      Ram-Naam Amrit-Ras Saar,
      Detaa Param Aanand Apaar. ....7</p>
      
      <p>Ram-Ram Jap He Manaa, 
      Amrit Vaani Maan.
      Ram-Naam Men Ram Ko,
      Sadaa Viraajit Jaan. ...8. </p>
      
      <p>Ram-Naam Mud Mangalkaari,
      Vighna Hare Sab Paatak Haari.
      Ram-Naam Shubh-Shakun Mahaan,
      Swasti Shaanti Shivkar Kalyaan. ...9. </p>
      
      <p>Ram-Ram Sri Ram-Vichaar, 
      Maanie Uttam Manglaachaar.
      Ram-Ram Man Mukh Se Gaanaa,
      Maano Madhur Manorath Paanaa. ...10. </p>
      
      <p>Ram-Naam Jo Jan Man Laave, 
      Us Men Shubh Sabhi Bas Jaave.
      Jahaan Ho Ram-Naam Dhun-Naad,
      Bhaagen Wahaan Se Visham-Vishaad ....11. </p>
      
      <p>Ram-Naam Man-Tapt Bujhaave, 
      Sudhaa Ras Seench Shaanti Le Aave.
      Ram-Ram Japie Kar Bhaav.
      Suvidhaa Suvidhi Bane Banaav. ...12. </p>
      
      <p>Ram-Naam Simro Sadaa, 
      Atishaya Mangal Mool.
      Visham-Vikat Sankat Haran,
      Kaarak Sab Anukool. ...13.</p>
      
      <p>Japnaa Ram-Ram Hai Sukrit, 
      Ram-Naam Hai Naashak Dushkrit.
      Simre Ram-Ram Hee Jo Jan,
      Uskaa Ho Shuchitar Tan-Man. ...14. </p>
      
      <p>Jismen Ram-Naam Shubh Jaage,
      Us Ke Paap-Taap Sab Bhaage.
      Man Se Ram-Naam Jo Uchaare,
      Us Ke Bhaagen Bhram Bhaya Saare. ...15.</p>
      
      <p>Men Bas Jaaye Ram Sunaam, 
      Hove Vah Jan Poornkaam.
      Chit Men Ram-Ram Jo Simre,
      Nishchaya Bhav Saagar Se Tare. ...16. </p> 
      
      <p>Ram-Simran Hove Sahaaee, 
      Ram-Simran Hai Sukhdaaee.
      Ram-Simran Sab Se Oonchaa,
      Ram Shakti Sukh Gyaan Samoochaa. ...17.</p>
      
      <p>Ram-Ram Hee Simar Man,
      Ram-Ram Sri Ram.
      Ram-Ram Sri Ram-Bhaj,
      Ram-Ram Hari-Naam. ...18.</p>
      
      <p>Maat-Pitaa Baandhav Sut Daaraa,
      Dhan Jan Saajan Sakhaa Pyaaraa.
      Ant Kaal De Sake Naa Sahaaraa,
      Ram-Naam Teraa Taaran Haaraa. ...19. </p>
      
      <p>Simran Ram-Naam Hai Sangi, 
      Sakhaa Snehee Suhird Shubh Angi.
      Yug-Yug Kaa Hai Ram Sahelaa,
      Ram-Bhakt Nahin Rahe Akelaa. ...20. </p>
      
      <p>Nirjan-Van Vipad Ho Ghor, 
      Nibirdh-Nishaa Tam Sab Or.
      Jot Jab Ram-Naam Kee Jage,
      Sankat Sarva Sahaj Se Bhage. ...21. </p>
      
      <p>Baadhaa Bardhi Visham Jab Aave,
      Vair Virodh Vighna Bardh Jaave.
      Ram-Naam Japiye Sukh Daataa,
      Sachaa Saathi Jo Hitkar Traataa. ...22. </p>
      
      <p>Man Jab Dhairya Ko Nahin Paave, 
      Kuchintaa Chitt Ko Choor Banaave.
      Ram-Naam Jape Chintaa Choorak,
      Chintaamani Chitt Chintan Poorak. ...23.</p>
      
      <p>Shok Saagar Ho Umrdhaa Aataa, 
      Ati Dukh Men Man Ghabraataa.
      Bhajiye Ram-Ram Bahu Baar,
      Jan Kaa Kartaa Berdhaa Paar. ...24.</p>
      
      <p>Kardhi Ghardhi Kathintar Kaal, 
      Kasht Kathor Ho Klesh Karaal.
      Ram-Ram Japiye Pratipaal,
      Sukh Daataa Prabhu Deendayaal. ...25.</p>
      
      <p>Ghatnaa Ghor Ghate Jis Ber, 
      Durjan Dukhrdhe Leven Gher.
      Japiye Ram-Naam Bin Der,
      Rakhiye Ram-Ram Shubh Ter. ...26. </p>
      
      <p>Ram-Naam Ho Sadaa Sahaayak, 
      Ram-Naam Sarva Sukhdaayak.
      Ram-Ram Prabhu Ram Kee Tek,
      Sharan Shaanti Aashraya Hai Ek. ...27.</p>
      
      <p>Poonji Ram-Naam Kee Paaiye, 
      Paatheya Saath Naam Le Jaaiye.
      Naashe Janm Maran Kaa Khatkaa,
      Rahe Ram Bhakt Nahin Atkaa. ...28.</p>
      
      <p>Ram-Ram Sri Ram Hai, 
      Teen Lok Kaa Naath.
      Param-Purush Paawan Prabhu ,
      Sadaa Kaa Sangi Saath. ...29.</p> 
      
      <p>Yagya Tap Dhyaan Yog Hee Tyaag, 
      Van Kuti Vaas Ati Vairaag.
      Ram-Naam Binaa Neeras Phok,
      Ram-Ram Jap Tariye Lok. ...30. </p>
      
      <p>Ram-Jaap Sab Sanyam Saadhan, 
      Ram-Jaap Hai Karm Aaraadhan.
      Ram-Jaap Hai Param-Abhyaas,
      Simro Ram-Naam 'Sukh-Raas’. ...31. </p>
      
      <p>Ram-Jaap Kahi Oonchi Karni,
      Baadhaa Vighna Bahu Dukh Harni.
      Ram-Ram Mahaa-Mantra Japnaa,
      Hai Suvrat Nem Tap Tapnaa. ...32. </p>
      
      <p>Ram-Jaap Hai Saral Samaadhi, 
      Hare Sab Aadhi Vyaadhi Upaadhi.
      Ridhi-Sidhi Aur Nav-Nidhaan,
      Daataa Ram Hai Sab Sukh-Khaan. ...33. </p>
      
      <p>Ram-Ram Chintan Suvichaar,
      Ram-Ram Jap Nishchaya Dhaar. 
      Ram-Ram Sri Ram-Dhyaanaa,
      Hai Param-Pad Amrit Paanaa. ...34.</p>
      
      <p>Ram-Ram Sri Ram Hari,
      Sahaj Param Hai Yog.
      Ram-Ram Sri Ram Jap,
      Daataa Amrit-Bhog. ...35</p>
      
      <p>Naam Chintaamani Ratna Amol,
      Ram-Naam Mahimaa Anmol.
      Atul Prabhaav Ati-Prataap,
      Ram-Naam Kahaa Taarak Jaap. ...36 </p>
      
      <p>Beej Akshar Mahaa-Shakti-Kosh,
      Ram-Ram Jap Shubh-Santosh.
      Ram-Ram Sri Ram-Ram Mantra,
      Tantra Beej Praatpar Yantra. ...37. </p>
      
      <p>Beejaakshar Pad Padma Prakaashe,
      Ram-Ram Jap Dosh Vinaashe.
      Kundalini Bodhe, Sushmanaa Khole,
      Ram Mantra Amrit Ras Ghole. ...38. </p>
      
      <p>Upje Naad Sahaj Bahu-Bhaant,
      Ajpaa Jaap Bheetar Ho Shaant.
      Ram-Ram Pad Shakti Jagaave,
      Ram-Ram Dhun Jabhi Ramaave. ...39.</p>
      
      <p>Ram-Naam Jab Jage Abhang.
      Chetan-Bhaav Jage Sukh Sang.
      Granthi Avidyaa Toote Bhaari,
      Ram-Leela Kee Khile Phulwaari. ...40. </p>
      
      <p>Patit-Paawan Param-Paath,
      Ram-Ram Jap Yaag.
      Safal Siddhi Kar Saadhnaa,
      Ram-Naam Anuraag. ...41.</p> 
      
      <p>Teen Lok Kaa Samjhiye Saar, 
      Ram-Naam Sab Hee Sukhkaar.
      Ram-Naam Kee Bahut Bardhaaee,
      Ved Puraan Muni Jan Gaaee. ...42. </p>
      
      <p>Yati Sati Saadhu Sant Sayaane,
      Ram-Naam Nish-Din Bakhaane.
      Taapas Yogi Sidh Rishivar,
      Japte Ram-Naam Sab Sukhkar. ...43.</p>
      
      <p>Bhaavanaa Bhakti Bhare Bhajneek, 
      Bhajte Ram-Naam Ramneek.
      Bhajte Bhakt Bhaav-Bharpoor,
      Bhram-Bhaya Bhed-Bhaav Se Door. ...44.</p>
      
      <p>Poorn Pandit Purush-Pradhaan, 
      Paavan-Param Paath Hee Maan.
      Karte Ram-Ram Jap-Dhyaan, 
      Sunte Ram Anaahad Taan. ...45. </p>
      
      <p>Is Men Surti Sur Ramaate,
      Ram-Ram Swar Saadh Samaate.
      Dev Devigan Daiv Vidhaataa,
      Ram-Ram Bhajte Gantraataa. ...46. </p>
      
      <p>Ram-Ram Suguni Jan Gaate, 
      Swar-Sangeet Se Ram Rijhaate.
      Keertan-Kathaa Karte Vidwaan,
      Saar Saras Sang Saadhanwaan. ...47.</p> 
      
      <p>Mohak Mantra Ati Madhur, 
      Ram-Ram Jap Dhyaan.
      Hotaa Teeno Lok Men,
      Ram-Naam Gun-Gaan. ...48. </p>
      
      <p>Mithyaa Man-Kalpit Mat-Jaal, 
      Mithyaa Hai Moh-Kumad-Baital.
      Mithyaa Man-Mukhiaa Manoraaj,
      Sachaa Hai Ram-Ram Jap Kaaj. ...49. </p>
      
      <p>Mithyaa Hai Vaad-Vivaad Virodh, 
      Mithyaa Hai Vair Nindaa Hath Krodh.
      Mithyaa Droh Durgun Dukh Khaan,
      Ram-Naam Jap Satya Nidhaan. ...50. </p>
      
      <p>Satya-Mulak Hai Rachnaa Saari, 
      Sarva-Satya Prabhu-Ram Pasaari.
      Beej Se Taru Makkardhi Se Taar,
      Huaa Tyon Ram Se Jag Vistaar. ...51. </p>
      
      <p>Vishwa-Vriksh Kaa Ram Hai Mool, 
      Us Ko Tu Praanee Kabhi Na Bhool. 
      Saans-Saans Se Simar Sujaan,
      Ram-Ram Prabhu-Ram Mahaan. ...52. </p>
      
      <p>Laya Utpatti Paalanaa-Roop,
      Shakti-Chetnaa Aanand-Swaroop.
      Aadi Ant Aur Madhya Hai Ram,
      Asharan-Sharan Hai Ram-Vishraam. ...53. </p>
      
      <p>Ram-Ram Jap Bhaav Se, 
      Mere Apne Aap.
      Param-Purush Paalak-Prabhu,
      Hartaa Paap Tritaap. ...54. </p>
      
      <p>Ram-Naam Binaa Vrithaa Vihaar, 
      Dhan-Dhaanya Sukh-Bhog Pasaar.
      Vrithaa Hai Sab Sampad Sammaan,
      Hove Tan Yathaa Rahit Praan. ...55. </p>
      
      <p>Naam Binaa Sab Neeras Swaad, 
      Jyon Ho Swar Binaa Raag Vishaad.
      Naam Binaa Nahin Saje Singaar,
      Ram-Naam Hai Sab Ras Saar. ...56. </p>
      
      <p>Jagat Kaa Jivan Jaano Ram, 
      Jag Kee Jyoti Jaajwalyamaan.
      Ram-Naam Binaa Mohinee-Maayaa,
      Jivan-Heen Yathaa Tan-Chhaayaa. ...57. </p>
      
      <p>Soonaa Samjhiye Sab Sansaar, 
      Jahaan Nahin Ram-Naam Sanchaar.
      Soonaa Jaaniye Gyaan-Vivek, 
      Jis Men Ram-Naam Nahin Ek. ...58. </p>
      
      <p>Soone Granth Panth Mat Pothe,
      Bane Jo Ram-Naam Bin Thothe.
      Ram-Naam Bin Vaad-Vichaar,
      Bhaari Bhram Kaa Kare Prachaar. ...59. </p>
      
      <p>Ram-Naam Deepak Binaa, 
      Jan-Man Men Andher.
      Rahe, Is Se He Mam-Man,
      Naam Sumaalaa Pher. ...60 </p>
      
      <p>Ram-Ram Bhaj Kar Sri Ram, 
      Kariye Nitya Hee Uttam Kaam.
      Jitne Kartavya Karm Kalaap,
      Kariye Ram-Ram Kar Jaap. ...61.</p> 
      
      <p>Kariye Gamnaagam Ke Kaal, 
      Ram-Jaap Jo Kartaa Nihaal.
      Sote Jagte Sab Din Yaam,
      Japiye Ram-Ram AbhiRam. ...62. </p>
      
      <p>Japte Ram-Naam Mahaa Maalaa, 
      Lagtaa Narak-Dwaar Pai Taalaa.
      Japte Ram-Ram Jap Paath,
      Jalte Karm Bandh Yathaa Kaath. ...63. </p>
      
      <p>Taan Jab Ram-Naam Kee Toote, 
      Bhaandaa-Bharaa Abhaagya Bhaya Phoote. 
      Mankaa Hai Ram-Naam Kaa Aisaa,
      Chintaa-Mani Paaras-Mani Jaisa. ...64. </p>
      
      <p>Ram-Naam Sudhaa-Ras Saagar,
      Ram-Naam Gyaan Gun-Aagar.
      Ram-Naam Sri Ram-Mahaaraaj,
      Bhav-Sindhu Men Hai Atul-Jahaaj. ...65. </p>
      
      <p>Ram-Naam Sab Teerth-Sthaan,
      Ram-Ram Jap Param-Snaan.
      Dho Kar Paap-Taap Sab Dhool,
      Kar De Bhaya-Bhram Ko Unmool. ...66. </p>
      
      <p>Ram-Jaap Ravi-Tej Samaan, 
      Mahaa-Moh-Tam Hare Agyaan,
      Ram-Jaap De Aanand Mahaan,
      Mile Use Jise De Bhagwaan. ...67.</p> 
      
      <p>Ram-Naam Ko Simariye,
      Ram-Ram Ek Taar.
      Param-Paath Paawan-Param,
      Patit Adham De Taar. ...68. </p>
      
      <p>Maangoon Main Ram-Kripaa Din Raat,
      Ram-Kripaa Hare Sab Utpaat.
      Ram-Kripaa Leve Ant Sambhaal,
      Ram-Prabhu Hai Jan Pratipaal. ...69. </p>
      
      <p>Ram-Kripaa Hai Uchtar-Yog, 
      Ram-Kripaa Hai Shubh Sanyog.
      Ram-Kripaa Sab Saadhan-Marm,
      Ram-Kripaa Sanyam Satya Dharm. ...70. </p>
      
      <p>Ram-Naam Ko Man Men Basaanaa, 
      Supath Ram-Kripaa Kaa Hai Paanaa.
      Man Men Ram-Dhun Jab Phire,
      Ram-Kripaa Tab Hee Avtare. ...71. </p>
      
      <p>Rahoon Main Naam Men Ho Kar Leen, 
      Jaise Jal Men Ho Meen Adeen.
      Ram-Kripaa Bharpoor Main Paaoon,
      Param Prabhu Ko Bheetar Laaoon. ...72.</p>
      
      <p>Bhakti-Bhaav Se Bhakt Sujaan, 
      Bhajte Ram-Kripaa Kaa Nidhaan.
      Ram-Kripaa Us Jan Men Aave,
      Jis Men Aap Hee Ram Basaave. ...73. </p>
      
      <p>Kripaa Prasaad Hai Ram Kee Deni, 
      Kaal-Vyaal Janjaal Har Leni.
      Kripaa-Prasaad Sudhaa-Sukh-Swaad,
      Ram-Naam De Rahit Vivaad. ...74. </p>
      
      <p>Prabhu-Prasaad Shiv-Shaanti-Daataa,
      Brahm-Dhaam Men Aap Pahunchaataa.
      Prabhu-Prasaad Paave Wah Praanee,
      Ram-Ram Jape Amrit-Vaani. ...75. </p>
      
      <p>Aushadh Ram-Naam Kee Khaaiye, 
      Mrityu Janm Ke Rog Mitaaiye.
      Ram-Naam Amrit Ras-Paan,
      Detaa Amal Achal Nirvaan. ...76. </p>
      
      <p>Ram-Ram Dhun Goonj Se, 
      Bhav-Bhaya Jaate Bhaag.
      Ram-Naam Dhun Dhyaan Se,
      Sab Shubh Jaate Jaag. ...77.</p>
      
      <p>Maangoon Main Ram-Naam Mahaadaan, 
      Kartaa Nirdhan Kaa Kalyaan.
      Dev-Dwaar Par Janm Kaa Bhookhaa,
      Bhakti Prem Anuraag Se Rookhaa. ...78. </p>
      
      <p>‘Par Hoon Teraa’-Yah Liye Ter, 
      Charan Pardhe Kee Rakhiyo Mer.
      Apnaa Aap Virad-Vichaar,
      Deejiye Bhagwan! Naam Pyaar. ...79. </p>
      
      <p>Ram-Naam Ne We Bhee Taare, 
      Jo The Adharmi-Adham Hatyaare.
      Kapti-Kutil-Kukarmi Anek,
      Tar Gaye Ram-Naam Le Ek. ...80. </p>
      
      <p>Tar Gaye Dhriti-Dhaarnaa Heen, 
      Dharm-Karm Men Jan Ati Deen.
      Ram-Ram Sri Ram-Jap Jaap,
      Huye Atul-Vimal-Apaap. ...81. </p>
      
      <p>Ram-Naam Man Mukh Men Bole, 
      Ram-Naam Bheetar Pat Khole.
      Ram-Naam Se Kamal-Vikaas.
      Hoven Sab Saadhan Sukh-Raas. ...82.</p>
      
      <p>Ram-Naam Ghat Bheetar Base, 
      Saans-Saans Nas-Nas Se Rase.
      Sapne Men Bhee Na Bisre Naam,
      Ram-Ram Sri Ram-Ram-Ram. ...83.</p>
      
      <p>Ram-Naam Ke Mel Se,
      Sadh Jaate Sab-Kaam.
      Dev-Dev Deve Yadaa. 
      Daan Mahaa-Sukh-Dhaam. ...84</p>
      
      <p>Main Ram-Naam Dhan Paayaa,
      Kaan Men Ram-Naam Jab Aayaa.
      Mukh Se Ram-Naam Jab Gaayaa,
      Man Se Ram-Naam Jab Dhyaayaa. ...85</p>
      
      <p>Paa Kar Ram-Naam Dhan-Raashi, 
      Ghor-Avidyaa Vipad Vinaashi.
      Bardhaa Jab Ram Prem Kaa Poor,
      Sankat-Sanshaya Ho Gaye Door. ...86. </p>
      
      <p>Ram-Naam Jo Jape Ek Ber, 
      Us Ke Bheetar Kosh-Kuber.
      Deen-Dukhiyaa-Dridra-Kangaal,
      Ram-Ram Jap Hove Nihaal. ...87. </p>
      
      <p>Hirdaya Ram-Naam Se Bhariye, 
      Sanchaya Ram-Naam Dhan Kariye.
      Ghat Men Naam Moorti Dhariye,
      Poojaa Antarmukh Ho Kariye. ...88. </p>
      
      <p>Aankhen Moond Ke Suniye Sitaar, 
      Ram-Ram Sumadhur Jhankaar.
      Us Me Man Kaa Mel Milaao,
      Ram-Ram Sur Men Hee Samaao. ...89. </p>
      
      <p>Japoon Main Ram-Ram Prabhu Ram, 
      Dhyaaoon Main Ram-Ram Hare Ram.
      Simroon Main Ram-Ram Prabhu Ram,
      Gaaoon Main Ram-Ram Sri Ram. ...90. </p>
      
      <p>Amritvaani Kaa Nitya Gaanaa,
      Ram-Ram Man Beech Ramaanaa.
      Detaa Sankat-Vipad Nivaar,
      Kartaa Shubh Sri Manglaachaar. ...91. </p>
      
      <p>Ram-Naam Jap Paath Se,
      Ho Amrit Sanchaar.
      Ram-Dhaam Men Preeti Ho,
      Sugun-Gan Kaa Vistaar. ...92.</p>
      
      <p>Taarak Mantra Ram Hai,  
      Jis Kaa Sufal Apaar.
      Is Mantra Ke Jaap Se,
      Nishchaya Bane Nistaar. ...93. </p>
      
      <p>Dhun</p>
      
      <p>1. Bolo Ram, Bolo Ram, Bolo Ram Ram Ram.
      2. Sri Ram, Sri Ram, Sri Ram Ram Ram.
      3. Jaya Jaya Ram, Jaya Jaya Ram,Jaya Jaya Ram Ram Ram.
      4. Jaya Ram Jaya Ram, Jaya Jaya Ram,
      Ram Ram Ram Ram, Jaya Jaya Ram.
      5. Patit Paawan Naam, Bhaj Le Ram Ram Ram;
      Bhaj Le Ram Ram Ram , Bhaj Le Ram Ram Ram.
      6. Asharan Sharan Shaanti Ke Dhaam, Mujhe Bharosaa, Teraa Ram;
      Mujhe Bharosaa Teraa Ram, Mujhe Bharosaa, Teraa Ram.
      7. Ramaaya Namaha, Sri Ramaaya Namaha,
      Ramaaya Namaha, Sri Ramaaya Namaha.  </p>     
  </div>
</ion-content>
